<div class="game">
  <div class="game-container">
    <div class="wind">
      <img
          src="/assets/seta-vento.png"
          alt="vento"
          width="50px"
          height="50px"
          [style]="{ transform: 'rotate(' + (windAngle > 180 ? 270 : 90) + 'deg)' }"
        />
        <p class="wind__speed">{{ windSpeed ? windSpeed.toFixed(1) : '0.0' }}</p>
    </div>
    <div class="turn" *ngIf="myTurn">
      <img
          src="/assets/turn-bubble.png"
          alt="vento"
          width="180px"
          height="140px"
        />
        <span class="turn__text">Sua Vez!!</span>
        <span class="turn__countdown" [style]="{ color: counter > 3 ? '#ffffff' : '#ff0000' }">{{ counter < 10 ? '0' + counter : counter }}</span>
    </div>
    <div class="player" *ngIf="player" [ngStyle]="{ bottom: player.position.y + 'px', left: player.position.x - 20 + 'px' }">
      <span class="player__name">
        {{ player.name }}
      </span>
      <div class="player__hp-bg">
        <div class="player__hp-fill" [style]="{ width: player.hp + '%' }"></div>
      </div>
    </div>
    <div class="player" *ngIf="enemy" [ngStyle]="{ bottom: enemy.position.y + 'px', left: enemy.position.x - 20 + 'px' }">
      <span class="player__name">
        {{ enemy.name }}
      </span>
      <div class="player__hp-bg">
        <div class="player__hp-fill" [style]="{ width: enemy.hp + '%' }"></div>
      </div>
    </div>
    <canvas #canva width="800" height="600" id="myCanvas"></canvas>
  </div>
  <div class="power-bar-container">
    <div class="power-bar">
      <h5>Aperte e segure para atirar!</h5>
      <div class="power-bar-fill" [style]="{ width: (this.power*100)/this.maxPower + '%' }"></div>
      <div class="power-bar-lats-shoot" [style]="{ left: (this.lastShot*100)/this.maxPower + '%' }"></div>
    </div>
  </div>
  <button class="btn btn-danger" (click)="exit()">Desistir</button>
</div>