<!-- <div
  class="game"
  tabindex="0"
  *ngIf="player"
>
  <div id="game">
    <div id="timer">
      <p class="timer">
        {{ counter }}
      </p>
    </div>
    <div id="wind">
      <p>Vento</p>
      <p class="wind-speed">{{ windSpeed }}</p>
    </div>
    <div id="wind-pic">
      <div id="wind-arrow">
        <img
          src="/assets/seta-vento.png"
          alt="vento"
          width="25px"
          height="50px"
          [style]="{ transform: 'rotate(' + windAngle + 'deg)' }"
        />
        <div id="wind-arrow-tip"></div>
      </div>
    </div>
    <div id="status">
      <p class="player"></p>
    </div>
    <div id="player-1-status">
      <p class="name">{{ player?.name }}</p>
      <p id="tank-1-health"></p>
    </div>
    <div id="player-2-status">
      <p class="name">{{ enemy?.name }}</p>
      <p id="tank-2-health"></p>
    </div>
    <div id="result">
      <p class="result">
        {{ myTurn ? 'Sua vez' : 'Vez do adversário' }}
      </p>
    </div>
    <div id="angle">
      <p class="angle">{{ gunAngle }}</p>
    </div>
    <app-tank
        *ngIf="player"
        [player]="player"
        [game]="gameData"
        (angle)="gunAngle = $event"
        #myTank
    ></app-tank>
    <app-tank
        *ngIf="enemy"
        [player]="enemy"
        [game]="gameData"
        (angle)="gunAngle = $event"
    ></app-tank>
  </div>
  <div class="power-bar-container">
    <div class="power-bar">
      <h5>Press Spacebar to increment power</h5>
      <div class="power-bar-fill" [style]="{ width: (this.power*100)/this.maxPower + '%' }"></div>
      <div class="power-bar-lats-shoot" [style]="{ left: (this.lastShot*100)/this.maxPower + '%' }"></div>
    </div>
  </div>
</div>
<div class="align-center">
  <button class="btn btn-danger" (click)="exit()">Desistir</button>
  <div class="instructions">
    <p>Left and Right Arrow Keys: Move your tank left and right</p>
    <p>Up and Down Arrow Keys: Move your tank&apos;s gun angle</p>
    <p>Space Bar: Shoot your gun</p>
    <p>
      Objective: Hit your opponent&apos;s tank to deplete his HP before your
      opponent does it first!
    </p>
  </div>
</div> -->
<div class="game">
  <div class="d-flex">
    <p>{{ player?.name }} - HP: {{ player?.hp }}</p>
    <p class="timer">
      Timer {{ counter }}
    </p>
    <div id="angle">
      <p class="angle">Angulo: {{ player?.angle }}</p>
    </div>
    <p class="result">
      {{ myTurn ? 'Sua vez' : 'Vez do adversário' }}
    </p>
    <div id="wind-pic">
      <div id="wind-arrow">
        <img
          src="/assets/seta-vento.png"
          alt="vento"
          width="25px"
          height="50px"
          [style]="{ transform: 'rotate(' + (windAngle > 180 ? 270 : 90) + 'deg)' }"
        />
        <div id="wind-arrow-tip"></div>
      </div>
    </div>
    <p class="timer">Velocidade do vento: {{ windSpeed }}</p>
    <p>{{ enemy?.name }} - HP: {{ enemy?.hp }}</p>
  </div>
  <canvas #canva width="800" height="600" id="myCanvas" style="border: 2px solid #cecece; border-radius: 8px;"></canvas>
  <div class="power-bar-container">
    <div class="power-bar">
      <h5>Press Spacebar to increment power</h5>
      <div class="power-bar-fill" [style]="{ width: (this.power*100)/this.maxPower + '%' }"></div>
      <div class="power-bar-lats-shoot" [style]="{ left: (this.lastShot*100)/this.maxPower + '%' }"></div>
    </div>
  </div>
  <button class="btn btn-danger" (click)="exit()">Desistir</button>
</div>